.searchcontainer {
  // background-color: red;
  display: flex;
  justify-self: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  margin-left: 10%;
  margin-top: 0.5rem;
  // margin-bottom: 2rem;
  padding: 2rem;
}
.searchbar {
  height: 2.5rem;
  border-radius: 30px;
  border-width: 3px;
  border-color: rgb(129, 255, 253);
  padding: 10px;
}
